*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/** box 1 details**/

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon-logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
/** border details **/

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/** box 2 details **/

.address-logo{
    display: flex;
    align-items: center;
}

.first-address{
    color:#CCCCCC;
    font-size: 0.65rem;
    margin-left: 21px;
}

.second-address{
    color: white;
    font-size: 0.80rem;
}

/** box 3 details **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 40px;
}

.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border: none;
}

.search-text{
    width: 100%;
    border: none;
    padding-left: 5px;
    font-size: 0.9rem;
}

.search-icon{
    width: 40px;
    background-color: #febd68;
    color:#0F1111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}